* {
  margin: 0;
  padding: 0;
}
body {
  background-color: bisque !important;
  color: black;
  font-family: "Poppins", sans-serif !important;
}

.right {
  position: relative;
}
.navbar {
  background-color: bisque !important;
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(157, 18, 18);
  margin: 16px;
  margin-left: 90px;
}
.navbar-brand:hover {
  color: rgb(157, 18, 18);
}

.navbar-nav li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  transition: 0.3s;
}
.nav-item {
  margin-right: 25px;
}
.custom-brand {
  font-size: 24px !important;
}

@media (max-width: 767px) {
  .secondSection,
  .thirdSection {
    max-width: 90vw;
    margin: 0 auto;
  }

  .thirdSection iframe {
    width: 100%;
    height: 300px;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive iframe */
  }
  .thirdSection p {
    word-break: break-all;
    overflow: hidden;
    display: inline-block;
    font-size: 1rem;
  }
  .thirdhr {
    margin-top: 10px !important;
  }
  .skill {
    margin-top: 110px !important;
  }
}

nav ul li a:hover {
  color: rgb(157, 18, 18);
}
.left {
  font-size: 1.5rem;
}
.firstSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  margin-top: 90px;
}

.firstSection > div {
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
}
.leftsection {
  font-size: 3rem;
}
.rightsection {
  display: flex;
  justify-content: center;
}

.rightsection img {
  width: 100%;
  max-width: 300px;
}
.name {
  color: rgb(157, 18, 18);
}
#element {
  color: rgb(157, 18, 18);
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.fhr {
  border: 1px solid rgb(14, 14, 14);
  margin: 40px 84px;
}
.secondSection h1 {
  font-size: 2rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.skills > .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 50px;
}

.skills > .skill img {
  max-width: 100%;
  max-height: 100%;
}

.fhr {
  border: none;
  margin: 25px;
  margin-top: 150px;
}

.skills > div img:hover {
  transform: scale(1.1);
}

.btn {
  background-color: black !important ;
  color: white;
  padding: 10px 20px !important;
  border-radius: 5px;
  border: none !important;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(157, 18, 18) !important;
}
.thirdSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.thirdSection h1 {
  font-size: 2rem;
}
.card {
  margin: 30px 0;
  background-color: bisque !important;
  border: none !important;
  width: 100%;
  height: 100%;
}
.card-title h3 {
  font-size: 1.5rem;
  color: rgb(157, 18, 18);
  margin: 10px 0;
}
.col-6 {
  padding: 0 20px;
  background-color: bisque;
}

.card-title p {
  font-size: 1rem;
  color: black;
  margin: 10px 0;
  line-height: 1.5rem;
  text-align: justify;
  padding-right: 20px;
}

.fourthhr {
  border: 1px solid rgb(14, 14, 14);
  margin-top: 700px;
}
.about-section {
  background-color: bisque;
  padding: 120px 0;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-content h2 {
  color: #007bff;
  font-size: 38px;
  margin-bottom: 40px;
}

.about-content p {
  color: #444;
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .firstSection > div {
    width: 100%;
  }
  .firstSection {
    margin-top: 0;
  }
  .about-content {
    padding: 0 20px;
  }
}

/* Contact Section */
.contact-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 90px;
  font-size: 2rem;
}
.contact-icons a:hover {
  transform: scale(1.1);
}

.contact-icons a {
  margin-right: 10px;
}

.contact-forms {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 60px;
}

.btn-primary {
  background-color: #007bff;
}

.glowing {
  animation: glowingEffect 2s ease-in-out infinite;
}

@keyframes glowingEffect {
  0% {
    box-shadow: 0 0 5px #007bff;
  }
  50% {
    box-shadow: 0 0 20px #007bff;
  }
  100% {
    box-shadow: 0 0 5px #007bff;
  }
}

.contact-form-wrapper {
  padding: 100px 0;
}

.contact-form {
  padding: 30px 40px;
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #f33fb0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #f23292;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #d30069;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: transparent;
  margin: auto;
  padding: 40px;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 767px) {
  .skills {
    flex-wrap: wrap;
  }

  .skills > .skill {
    width: calc(25% - 20px);
    height: auto;
    margin: 10px;
    margin-top: 70px;
  }
  .thirdSection {
    height: 100%;
  }
  .fourthhr {
    margin-top: 100px;
  }
  .glowing {
    margin-bottom: 40px;
  }
  .contact-icons {
    margin-top: 40px;
  }
}
footer {
  background-color: bisque;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content p {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-links a {
  color: #6c757d;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}

.footer-links a:hover {
  color: #007bff;
}
